{% load i18n %}{% autoescape off %}
{% blocktrans %}Вы получили это электронное письмо, потому что вы запросили сброс пароля для своей учетной записи пользователя в {{ site_name }}.{% endblocktrans %}

{% trans "Перейдите на следующую страницу и выберите новый пароль:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Ваше имя пользователя, если вы забыли:" %} {{ user.get_username }}

{% trans "Спасибо что посетили наш сайт!!" %}

{% blocktrans %}Команда {{ site_name }} разработчиков{% endblocktrans %}

{% endautoescape %}
